# macOS system files
.DS_Store

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Data but keep the artifacts folder and the files inside + dataset for GitHub Actions
data/*
*.csv
*.parquet
!artifacts/
!artifacts/*.csv
!artifacts/*.parquet
!data/fraud_transactions_small.csv

# MLflow
mlruns/
mlflow.db

# Models
#models/
#*.joblib
#*.pkl

# Virtual environments
venv/
.env/

