# macOS system files
.DS_Store

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Data
data/
*.csv
*.parquet

# MLflow
mlruns/
mlflow.db

# Models
models/
*.joblib
*.pkl

# Virtual environments
venv/
.env/

